.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}
.container1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
}
.container2{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}
.container3{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}
.petya{
    background: red;
    height: 100px;
}
.vasya{
    background: silver;
    height: 100px;
}
.petya2{
    background: green;
    height: 100px;
}
.petya22{
    background: blue;
    height: 100px;
}
.petya222{
    background: lightblue;
    height: 100px;
}
.petya3{
    background: lightyellow;
    height: 100px;
}
.petya33{
    background: yellow;
    height: 100px;
}
.petya333{
    background: black;
    height: 100px;
}
.petya4{
    background: orange;
    height: 100px;
}
.petya5{
    background: pink;
    height: 100px;
}
.petya55{
    background: purple;
    height: 100px;
}